html {
	font-family: 'Lato', sans-serif;
}

.container {
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 45%;
	padding: 10px;
	border: 1px solid #eeeeee;
}

td.category {
	width: 10%;
}

img {
	max-width: 100%;
}

.banner {
	background-color: #E6F8FF; 
	color: #00597F;
	border: 3px solid #B8E3F6;
	padding: 40px;
}